body {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: solid 2px #000;
}

.square {
  width: 20px;
  height: 20px;
}

.snake {
  background-color: green;
}

.apple {
  background-color: #ee2c54;
}